form{
    input, textarea{
        display: block;
        width: 100%;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: rgb(var(--dark));
        background-color: rgb(var(--light));
        background-clip: padding-box;
        border: 1px solid rgb(var(--dark));
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    textarea{
        max-height: 180px;
    }
    input{
        &[type=submit]{
            background: rgb(var(--primary));
            border-color: rgb(var(--primary));
            color: rgb(var(--light));
            &:hover{
                background: rgb(var(--dark));
                border-color: rgb(var(--dark));
                color: rgb(var(--light));
            }
        }
    }
}