#page-footer{
    &.footer-main{
        position: relative;
        background: rgb(var(--dark));
        color: rgb(var(--light));
        .inner-content{
            display: flex !important;
            justify-content: space-between !important;
        }
        .footer-section{
            padding-top: 100px;
            padding-bottom: 60px;
            .footer-inner{
                max-width: 33.33333333%;
                section{
                    padding: 30px 0 30px;
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        padding-bottom: 0;
                    }
                    input{
                        &[type=email], &[type=text]{
                            background: transparent !important;
                            border-top: none !important;
                            border-left: none !important;
                            border-right: none !important;
                            border-color: rgb(var(--light));
                            color: rgb(var(--light));
                            &:focus-visible, &:focus{
                                border-top: none !important;
                                border-left: none !important;
                                border-right: none !important;
                                border-color: rgb(var(--light));
                                outline: none !important;
                            }
                        }
                        &[type=checkbox]{
                            width: 20px !important;
                            height: 20px !important;
                            display: inline-block !important;
                            padding: 0;
                            background: rgb(var(--light));
                            border: 1px solid rgb(var(--light));
                            appearance: auto;
                        }
                        &[type=submit]{
                            width: auto;
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            padding: 40px 0;
            p{
                margin: 0 !important;
            }
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                    display: inline-block;
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            svg{
                width: 28px;
                height: 28px;
                fill: rgb(var(--light));
                &:hover{
                    fill: rgb(var(--primary));
                }
            }
            section{
                font-size: 14px;
                nav{
                    ul{
                        display: flex !important;
                        justify-content: space-between !important;
                    }
                }
            }
        }
    }
}