/*
*
* Contains all map for the scss
*
*
*/


//Header font size
$header-font-sizes: (
  h1: 88px,
  h2: 72px,
  h3: 50px,
  h4: 40px,
  h5: 28px,
  h6: 22px
);

$font-sizes: (
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px
);