//widget
.widget-area{
    .widget{
        &>h4{
            &.widget-title{
                padding-bottom: 24px;
                border-bottom: 1px solid rgba(var(--dark), 0.8);
            }
        }
        nav{
            padding-top: 30px;
            padding-bottom: 60px;
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{
                    margin-bottom: 20px;
                    a{
                        text-decoration: none;
                        color: rgb(var(--dark));
                        &:hover{
                            color: rgb(var(--primary));
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .tagcloud{
            a{
                text-decoration: none;
                color: rgb(var(--light));
                background: rgba(var(--dark), 0.8);
                margin-right: 8px;
                padding: 6px 20px;
                border-radius: 4px;
                line-height: 52px;
                &:last-child{
                    margin: 0;
                }
                &:hover{
                    background: rgb(var(--primary));
                }
            }
        }
    }
}